:root {
  --colour-primary: #6f90f4;
  --colour-secondary: white;
  --colour-bg: #363636;
  --colour-str: #87ffff;
  --colour-int: #ff9dff;
  --colour-shadow: #698cff;
  --colour-bool: #fffc64;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: var(--colour-secondary);
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#__next {
  height: 100%;
}

.main-container {
  height: 100%;
  min-width: 50em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 27.5em;
  width: 50%;
}

.right-content {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 40%;
}


/* Toolbar Component */
.toolbar-container {
  display: flex;
  width: 100%;
  height: 4em;
  background-color: var(--colour-bg);
  border-bottom: 0.1em solid var(--colour-secondary);
  border-right: 0.2em solid var(--colour-primary);
  box-shadow: 0.15em 0.1em 0em 0.1em var(--colour-shadow);
  
}

.tl-btn,
.fake {
  width: 5em;
  height: 3.5em;
  color: var(--colour-primary);
  background-color: var(--colour-secondary);
  border: 0.2em solid var(--colour-primary);
  border-radius: 0.4em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  box-shadow: 0.1em 0.2em 0em 0.1em var(--colour-shadow);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#fake-select {
  width: 9em; 
}

#fake-select:focus {
  color: var(--colour-primary);
  background-color: var(--colour-secondary);
  cursor: pointer;
}

.tl-btn:hover {
  color: var(--colour-secondary);
  background-color: var(--colour-primary);
  cursor: pointer;
  transform: scale(1.02);
}

/* Editor component */
.query-input-container {
  height: 60%;
  display: flex;
  flex-direction: column;
}

.editor-container {
  border-right: 0.2em solid var(--colour-primary);
  border-bottom: 0.2em solid var(--colour-primary);
  width: 100%;
  min-height: 40%;
  height: 70%;
  border-radius: 0.3em;
  box-shadow: 0.16em 0.2em 0em 0.1em var(--colour-shadow), -0.15em 0.2em 0em 0.1em var(--colour-shadow);
}

/* History Component */
.query-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-width: 24em;
  width: 80%;
  background-color: var(--colour-bg);
  gap: 1.2em;
  border-left: 0.2em solid var(--colour-primary);
  overflow: auto;
  scrollbar-color: var(--colour-primary) var(--colour-bg);
  box-shadow: -0.2em 0em 0em 0.1em var(--colour-shadow);
}

.query-history__title {
  color: var(--colour-secondary); 
  height: 0.5em;
  width: 100%;
  margin-top: 0;
  height: 1.7rem;
  text-align: center;
  background-color: var(--colour-primary);
  border-radius: 0em 0em 1em 1em
}


.query-history__item {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  width: 85%;
  background-color: var(--colour-bg);
}

.query-history__content {
  align-self: center;
  width: 75%;
  border-top: 0.1em solid var(--colour-primary);
  border-bottom: 0.3em solid var(--colour-primary);
  border-left: 0.1em solid var(--colour-primary);
  border-right: 0.4em solid var(--colour-primary);
  border-radius: 0em 0.35em 0.15em 0.25em;
  background-color: var(--colour-bg);
  color: var(--colour-secondary);
  font-size: 0.9em;
}

/* RerunButton component */
.rerun-button-container,
.f-button-container {
  align-self: center;
  height: 2.7em;
}

.rerun-button,
.f-button {
  height: 100%;
  width: 5em;
  min-width: 3em;
  color: var(--colour-primary);
  background-color: var(--colour-secondary);
  border: 0.2em solid var(--colour-primary);
  border-radius: 0.2em 0.5em 0.2em 0.5em;
  box-shadow: -0.2em 0.1em 0em 0.1em var(--colour-shadow);
}

.rerun-button:hover,
.f-button:hover {
  color: var(--colour-secondary);
  background-color: var(--colour-primary);
  cursor: pointer;
}

/* Result Component */
.query-result-container {
  height: 40%;
  width: 100%;
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  background-color: var(--colour-bg);
  border-top: 5px solid var(--colour-primary);
  border-right: 5px solid var(--colour-primary);
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--colour-primary) var(--colour-bg);
}

::-webkit-scrollbar-corner {
  background-color: var(--colour-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--colour-primary);
  -webkit-border-radius: 0.5em;
}

::-webkit-scrollbar {
  background-color: var(--colour-bg);
  width: 0.7em;
  height: 0.7em;
}

.query-result__title {
  min-height: 1.2em;
  width: 100%;
}

.query-result__title h3 {
  color: white;
  height: 1.5em;
  width: 50%;
  min-width: 21.4em;
  background-color: var(--colour-primary);
  text-align: center;
  line-height: 1.2em;
  margin-top: 0;
  position: fixed;
  border-radius: 0px 0px 6px 6px;
}

.content-table {
  color: var(--colour-secondary);
  min-width: 25%;
  width: 100%;
  text-align: center;
  order: 1;
}

.content-table th {
  border-top:  0.4em solid var(--colour-primary);
  border-right: 0.15em solid var(--colour-primary);
  border-bottom: 0.4em solid var(--colour-primary);
  border-radius: 0.2em;
  height: 2em;
}

.content-table th:last-child {
  border-right: 0.15em solid var(--colour-primary);
}

.content-table th:nth-child(1) {
  border-left: 0.15em solid var(--colour-primary);
}

.content-table td {
  border-bottom: 0.1em solid var(--colour-primary);
  border-right: 0.1em solid var(--colour-primary);
  border-radius: 0.2em;
  height: 1.5em;
  width: 10em;
}

.content-table td:nth-child(1) {
  border-left: 0.1em solid var(--colour-primary);
}

.query-result-container p {
  color: var(--colour-secondary);
  font-size: 1.1em;
  margin-top: 0.2em;
  margin-left: 1em;
  order: 0;
  line-height: 1em;
}


/* Code Mirror elements */
.ͼb {
  color: var(--colour-primary);
}

.ͼe {
  color: var(--colour-str);
}

.ͼd {
  color: var(--colour-int);
}

.ͼc {
  color: var(--colour-bool);
}

.ͼ1 .cm-tooltip.cm-tooltip-autocomplete > ul > li {
  overflow-x: hidden; 
  text-overflow: ellipsis; 
  cursor: pointer; 
  padding: 1px 3px; 
  line-height: 1.2;
}

.ͼ1 .cm-tooltip.cm-tooltip-autocomplete > ul {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: nowrap; 
  overflow: hidden auto; 
  max-width: 700px; 
  max-width: min(700px, 95vw); 
  min-width: 250px; 
  max-height: 10em; 
  list-style: none; 
  margin: 0; 
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--colour-bg) transparent;
}

.ͼ2 .cm-tooltip-autocomplete ul li[aria-selected] {
  background-color: var(--colour-primary);
  color: black;
}

.ͼ3 .cm-tooltip-autocomplete ul li[aria-selected] {
  background-color: var(--colour-primary);
  color: black;
}

.ͼ1 .cm-cursor, .ͼ1 .cm-dropCursor {
  position: absolute; 
  border-left: 1.2px solid var(--colour-primary);
  margin-left: -0.6px; 
  pointer-events: none;
}

.cm-content {
  color: var(--colour-secondary);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cm-editor {
  color: black;
  background-color: var(--colour-bg);
}

.cm-line,
.cm-activeLine {
  background-color: var(--colour-bg) !important;
}

.cm-gutters,
.cm-gutterElement {
  background-color: var(--colour-bg) !important;
  color: var(--colour-primary) !important;
  border-left: var(--colour-bg) !important;
  font-size: 1.03em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ͼ4 .cm-line ::selection {
  background-color: #ffffff55 !important;
}

.ͼ4 .cm-line::selection {
  background-color: #ffffff55 !important;
}

.cm-scroller {
  scrollbar-width: thin;
  scrollbar-color: var(--colour-primary) var(--colour-bg);
  max-height: 100%;
}

.ͼ1.cm-editor.cm-focused {
  outline: none;
}